<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nouveau Groupe</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">I_Learning</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
          <li><a href="tache.html"><i class="fa fa-font"></i> Tache</a></li>
         </ul>

          <!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
           <!--  <h1>Dashboard <small>Statistics Overview</small></h1> -->
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
           <!--  <div class="alert alert-success alert-dismissable">
             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>! Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
            </div>-->
          </div>
        </div><!-- /.row -->

        
		<!-- /.row -->

       
		 <!-- Bare de navigation interne-->
 <ul class="nav nav-tabs">
  <li ><a href="membre.html">Membres</a></li>
  <li class="active"><a href="groupes.html">Groupes</a></li>
  <li><a href="#">Examens</a></li>
  <li><a href="matiere.html">Matieres</a></li>

</ul>
		<!-- /fin bare de navigation -->
		
<!--gerer membre -->
     

		 
<h3>Ajouter un nouveau groupe</h3>

	<table class="table">
	<tr>
	<td><h4>Nom du groupe</h4></td>
	<td> <div class="form-group">
    <input type="text" class="form-control" placeholder="nom groupe">
  </div></td>
	
	</tr>
<tr>
<td><h4>Specialite</h4></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<!-- Large button group -->
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Selectionner specialite <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Groupe 1</a></li>
    <li><a href="#">groupe 2</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
</td>

<td><h4>Niveau</h4></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<!-- Large button group -->
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Selectionner niveau <span class="caret"></span>
  </button>
 
 <ul class="dropdown-menu" role="menu">
    <li><a href="#">niv 1</a></li>
    <li><a href="#">niv 2</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
</td>

</tr>
	</table>
	
	<div class="panel panel-default">
  <!-- Default panel contents -->
  

   <!-- Table -->
  <table class="table">
   <tr  bgcolor="#CCCCCC">
   <td></td>
   	<td>Nom du groupe </td>
	<td>Date de creation</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	
	<td> <div class="checkbox">
    <label>
      <input type="checkbox">
    </label></td>
	<td>azeerty yefgiy</td>
	<td>kdfj sdfh</td>
	<td><button type="button" class="btn btn-default navbar-btn">Modifier</button></td>
	</tr>
	
	<tr>
	<td> <div class="checkbox">
    <label>
      <input type="checkbox">
    </label></td>
	<td>ldsmgvj sedgjv</td>
	<td>kdfj sdfh</td>
	<td><button type="button" class="btn btn-default navbar-btn">Modifier</button></td>
	</tr>
	
  </table>
  <!--Fin table-->
</div>
<button type="button" class="btn btn-default navbar-btn">Ajouter</button>
     </div>
        </div>
      </div>
    </div>

<!-- fin g?rer membre -->
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="js/morris/chart-data-morris.js"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>

  </body>
</html>
